.lamp_banner {
    top: 180px;
}
.hover\:bg-green-700:hover {
    border: 0px;
}
.bord_line {
    border-bottom: 1px solid #1c3531;
    padding-bottom: 21px;
}
.home-bg {
    background-image: url('../../assets/Homebgbanner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%; 
    height: 849px; 
}

  
  